.footer {
    background-color: rgba(50, 113, 185, 0.685);
    padding: 35px 20px;
    text-align: center;
    color: #ffffff;

    position:  fixed;
    bottom: 0;
    width: 100%;
    margin:  auto;
    height: 20px;
}
